@inherits BaseCKEditorComponent

@{
    var editorStyle = HtmlMode ? "display: none" : "display: block";
    var textAreaStyle = HtmlMode ? "display: block" : "display: none";
}
<div style="@textAreaStyle">
    <textarea class="ant-input" Placeholder="Введите HTML" rows="5" @bind="@CurrentValue"></textarea>
</div>

<div style="@editorStyle">
    <textarea Placeholder="Введите текст" id="@EditorId">@Value</textarea>
</div>
@if (AllowHtmlMode)
{
    <div class="text-right">
        <a class="dashed-link" @onclick="@SwitchModeAsync" @onclick:preventDefault href="#">@(HtmlMode ? "Переключиться на редактор" : "Переключиться на HTML")</a>
    </div>
}
